@import 'header';
@import 'nav';
@import 'content';
@import 'footer';


*{
    margin: 0px;
    padding: 0px;
}

.body{
    display: grid;
    width: 1140px;
    margin: 0 auto;
    grid-template-columns: minmax(160px, 1fr) 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav content content"
    "footer footer footer"
    ;

    
}








